@{
    ViewData["Title"] = "Bathroom Page";
}

<div class="text-center">
    <h1 class="display-4">Bathroom Decorative Items</h1>
    <div class="con">
        <div class="box">
            @*Bathroom Decor*@
            <h1>Accessory Bath Set</h1><br />
            <img src="~/images/bathset.jpg" alt="Bath Set" width="200" height="200">
            <p><b>Description:</b>A bathroom accessories list comprises a range of essential items that are not only practical but also contribute to the overall ambiance of the bathroom.</p><br />
            <p><b>Cost:$</b>120</p><br />
        </div>
    </div>
    <div class="con">
        <div class="box">
            <h1>Wall Decor</h1><br />
            <img src="~/images/walldecor.jpg" alt="Wall Decor" width="200" height="200">
            <p><b>Description:</b> Bathrooms give you quite a bit of freedom and room for being imaginative in terms of what counts as wall decor.</p><br />
            <p><b>Cost:$</b>250</p><br />
        </div>
    </div>
</div>
