@{
    ViewData["Title"] = "Privacy Policy";
}


<h1>About Our Website</h1>
<p>
    <b>
        Decorating is a very personal exercise (or at least it should be). You decide what items go into your home, from the furniture to the rugs, to the lights, to the accessories—it’s totally up to you. 
        But even though you’re free to decorate with whatever you want, there are a few essential items every home should have. 
        Having these items in your home will ensure that no matter what the style it will always look its best.
    </b>
</p>